@page "/Register"
@model PRN211FinalProj.Pages.RegisterModel
@{
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h3>Login</h3>
    <form method="post" asp-page="Register">
        <table>
            <tr>
                <td>Phone Number</td>
                <td><input type="text" asp-for="@Model.PhoneNumber" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Register" /></td>
            </tr>
        </table>
    </form>
</body>
</html>